@model dynamic

@{
    ViewBag.Title = "Umysł zamknięty";
    ViewBag.BgImage = @"../../img/logo.jpg";
    ViewBag.SubTitle = "Whatever you're thinking, think bigger";
    ViewBag.SubHeading = "Tony Hsieh";
}

<h2>@ViewBag.Message</h2>
<hr/>   
@Html.ActionLink("Back to main page", "Index","Home")