@{
    ViewBag.Title = "Under construction";
    ViewBag.BgImage = @"../../img/logo.jpg";
    ViewBag.SubTitle = "Under";
    ViewBag.SubHeading = "Construction";
}

<div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
        <hgroup>
            <h2 class="text-info">Sorry, please try again later.</h2>
        </hgroup>
    </div>
</div>