@{
    ViewBag.Title = "Umysł zamknięty";
    ViewBag.BgImage = @"../../img/logo.jpg";
    ViewBag.SubTitle = "About author";
    ViewBag.SubHeading = "";
}


<div class="row">

    <div class="col-lg-8 col-md-10 mx-auto">
        <p>Maybe one day I'll fulfill that :)</p>

    </div>

</div>