@model ICollection<Common.DomainEntities.ICommentDomainEntity>
@{
    Layout = null;
}
@foreach (var item in Model)
{
    <div id="comment">
        <blockquote class="comment">
            <h6 class="post-subtitle">
                Posted by @Html.DisplayFor(modelItem => item.Author.Name, "Colour")
                on @Html.DisplayFor(modelItem => item.Timestamp)
            </h6>
            <hr/>
            <p>
                @Html.DisplayFor(modelItem => item.Body)
            </p>
        </blockquote>
        @if (Model.Last() != item)
        {
            <hr/>
        }
    </div>
}