@using Common.Helpers
@model BlogUI.Controllers.DeleteComment

@{
    Layout = null;
}
<p>
    @if (Request.IsAuthenticated)
    {
        if (Model.Author.Login == User.Identity.Name)
        {
             using (Html.BeginForm("Delete", "Comment", FormMethod.Post, null))
             {
                 @Html.AntiForgeryToken()
                 @Html.HiddenForExt(x => x.ParrentId)
                 @Html.HiddenForExt(x => x.Id)
                 <input type="submit" value="Delete comment." class="btn btn-default"/>
             }
        }
    }
</p>    